<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Product - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="assets/css/Application-Form.css">
    <link rel="stylesheet" href="assets/css/Features-Centered-Icons-icons.css">
    <link rel="stylesheet" href="assets/css/Formulario-Farmacia-styles.css">
    <link rel="stylesheet" href="assets/css/Sign-Up-Form---Gabriela-Carvalho.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md sticky-top py-3" id="mainNav" style="background: #3e263a;">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span>Proyecto de Biodiseño 1</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto"></ul><a class="btn btn-primary shadow" role="button" href="https://github.com/miguel-isidro05/BioDesign-ECG-Project" style="background: rgb(150,26,52);border-width: 0px;">Repositorio</a><a class="btn btn-primary shadow" role="button" href="login.html" style="background: rgb(150,26,52);border-width: 0px;margin: 20px;">Salir</a>
            </div>
        </div>
    </nav>
    <section class="py-5" style="background: #30262e;">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto"><img width="300" height="300" style="width: 300px;height: 300px;margin: 10px;" src="assets/img/user.png"></div>
            </div>
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Bienvenido</h2>
                    <p style="font-size: 20px; color: gray;">Proyecto de Biodiseño 1</p>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-2" style="background: #3e263a;border-radius: 30px;border-width: 30px;padding: 61px;">
                <div class="col">
                    <div class="text-center d-flex flex-column align-items-center align-items-xl-center">
                        <div class="px-2"><img src="assets/img/interfaz_but_1.avif" style="width: 200px;height: 100px;margin: 40px;padding: 0px;border-color: #3e263a;border-radius: 20px;">
                            <h4>1. Registro de información</h4>
                            <p></p><a class="btn btn-primary shadow" role="button" href="formulario.html" style="background: rgb(150,26,52);border-color: var(--bs-border-color-translucent);border-left-color: var(--bs-border-color-translucent);">Registrar informacion del usuario</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="text-center d-flex flex-column align-items-center align-items-xl-center"><img src="assets/img/images.png" style="padding: 0px;width: 200px;height: 100px;border-radius: 20px;border-color: #3e263a;margin: 40px;">
                        <div class="px-2">
                            <h4>2. Señal ECG a tiempo real</h4>
                            <p></p><a class="btn btn-primary shadow" role="button" href="signal_menu.html" style="background: rgb(150,26,52);border-color: var(--bs-border-color-translucent);border-left-color: var(--bs-border-color-translucent);">Visualizar señal</a>
                        </div>
                    </div>
                </div>
                
    </section>
    <footer class="bg-dark"></footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/Application-Form-Bootstrap-Image-Uploader.js"></script>
    <script src="assets/js/Application-Form-submit-form.js"></script>
    <script src="assets/js/bold-and-dark.js"></script>
</body>

</html>